body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-wrapper {
  background-image: -webkit-linear-gradient(135deg, #C1D0B5 30%, #99A98F 90%);
  background-image: linear-gradient(135deg,#C1D0B5 30%, #99A98F 90%);
  position: relative;
  z-index: 3;
  padding: 100px;
  font-size:16px;
  color: #999999;
}
.card-wrapper * {
  box-sizing: border-box;
}
.card-wrapper form input, form button {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}
.card-wrapper form input[type="email"]:focus, .card-wrapper form input[type="email"]:active, .card-wrapper form input[type="password"]:focus, .card-wrapper form input[type="password"]:active, .card-wrapper form input[type="text"]:focus, .card-wrapper form input[type="text"]:active {
  border-color: #cccccc;
}
.card-wrapper form button[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  background-color: #e1d4bb;
  background-size: 100%;
  background-image: -webkit-linear-gradient(45deg,
                                             rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%,
                                             rgba(0, 0, 0, 0) 50%,
                                             rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%,
                                             rgba(0, 0, 0, 0));
  background-image:          linear-gradient(45deg,
                                             rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%,
                                             rgba(0, 0, 0, 0) 50%,
                                             rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%,
                                             rgba(0, 0, 0, 0));
  background-size: 20px 20px, 100% 100%;
  border: 1px solid #cbb279;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-wrapper form button[type="submit"]:hover {
  background-size: 40px 40px;
}
.card-header {
  font-size: 1.5em;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px dashed #e6e6e6;
}
.card {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.card:before, .card:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
          transform: scale(0.9) translate(0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card:hover:before {
  z-index: -1;
  -webkit-transform: scale(0.96) translate(0, 16px);
          transform: scale(0.96) translate(0, 16px);
}
.card:hover:after {
  z-index: -2;
  -webkit-transform: scale(0.92) translate(0, 32px);
          transform: scale(0.92) translate(0, 32px);
}