.navbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
  
    font-weight: bold;
    margin-bottom: 80px;
  }
  .center{
    display: flex;
    justify-content: center;
  }

  .navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
    vertical-align: bottom;
    margin: '8px';
   
  }

  .navbar a:hover {
    
    transition: color 0.5s;
    font-size: larger;
  }

  



  .logo{
    color: white;
    font-size: 80px;
    margin-top: 10px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
  }

  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    overflow: hidden;;
    
    z-index:  -1;
  }
  
  .video-background video {
    margin-top: -21%;
    object-fit: cover;
  }