.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    position: relative;
}

  .navbar a{
    margin-top: -20px; 
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
    vertical-align: bottom;
  }

  .navbar a:hover {
    transition: color 0.5s;
    transform: scale(1.06);
    transition: .3s;
  }
  
  .navbar a:not(hover) {
    transform: scale(1);
    transition: .3s;
  }

  .logo{
    color: white;
    font-size: 80px;
    margin-top: 10px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 8);
  }

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index:  98;
  }
  
  .video-background video {
    margin-top: -21%;
    object-fit: cover;
  }


